<!doctype html>
<html>
<head>
<title>HOME PAGE</title>
<style>
body{
background-color:plum;
}
h1{
    color:purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.mybutton {

    
    text-align:center;
    position: absolute;
    top: 10px;
    right: 10px;

}
</style>
</head>
<body>
<h1 >Welcome to Home Page</h1>
<button type="button" onclick="myfunc()"> Request </button>
<button type="button" onclick="myfunc1()">Donor</button>
<button type="button" class="mybutton">Logout</button>

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "2a0d0606-e63c-40d5-8711-7dfea8e4d9b7", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "bc81390b-fd51-43ee-a788-dfe46b4342ce", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
  
  function myfunc() {
    window.location.href="Request.html";
  }
  function myfunc1() {
    window.location.href="Donor.html";
  }
  

        
</script>
</body>
<html>