<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Red Drops</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="login" class="sign-in-form">
            <h2 class="title">Requests Made</h2>
            {% if activereq==0 %}
            <p style="align-items: center">You have not made any requests</p>
            {% else %} {% for req in activereq: %}
            <div class="hor-scrollview">
              <table border="1">
                <tr>
                  <th>Patient Name</th>
                  <th>Patient BloodGroup</th>
                  <th>Patient Condition</th>
                  <th>Doctor Name</th>
                  <th>Hospital Address</th>
                  <th>Attender Phone</th>
                </tr>
                <tr>
                  <td>{{req[6]}}</td>
                  <td>{{req[1]}}</td>
                  <td>{{req[2]}}</td>
                  <td>{{req[3]}}</td>
                  <td>{{req[4]}}</td>
                  <td>{{req[5]}}</td>
                </tr>
              </table>
            </div>
            {% endfor %} {% endif %}
          </form>
          <form action="/makerequest" class="sign-up-form" method="post">
            <h2 class="title">Make Requests</h2>
            <div class="ver-scrollview">
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input
                  type="text"
                  placeholder="Patient's Name"
                  name="pname"
                  required
                />
              </div>
              <div class="input-field">
                <i class="fas fa-heart"></i>
                <select
                  type="text"
                  placeholder="Patient's Blood Group"
                  name="bloodgroup"
                  required
                >
                  <option disabled selected></option>
                  <option disabled class="placeholder">
                    Patient's Blood Group]
                  </option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                </select>
              </div>
              <div class="input-field">
                <i class="fas fa-file-medical"></i>
                <input
                  size="10"
                  type="text"
                  placeholder="Patient's Condition"
                  name="pcondition"
                  required
                />
              </div>
              <div class="input-field">
                <i class="fas fa-stethoscope"></i>
                <input
                  type="text"
                  placeholder="Doctor's Name"
                  name="dname"
                  required
                />
              </div>
              <div class="input-field">
                <i class="fas fa-hospital"></i>
                <input
                  type="text"
                  placeholder="Hospital Address"
                  name="haddress"
                  required
                />
              </div>
              <div class="input-field">
                <i class="fas fa-phone"></i>
                <input
                  type="tel"
                  placeholder="Attender's Phone"
                  name="aphone"
                  pattern="+[6-9]{1}[0-9]{9}"
                  required
                />
              </div>
            </div>
            <input type="submit" class="btn" value="Register Request" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="abs-btn">
            <button type="button" onclick="back()">Back</button>
            <button type="button" onclick="logout()">Logout</button>
          </div>
          <div class="content">
            <h3>Need to Make a Request ?</h3>
            <p>
              Register the required the details and we will find you a Donor
              match !
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Make Request
            </button>
          </div>
          <img
            src="{{ url_for('static', filename='./img/heart-blood.PNG') }}"
            class="image"
            alt=""
          />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Need to view Active Requests ?</h3>
            <p></p>
            <button class="btn transparent" id="sign-in-btn">
              Active Requests
            </button>
          </div>
          <img
            src="{{ url_for('static', filename='./img/ui.PNG') }}"
            class="image"
            alt=""
          />
        </div>
      </div>
    </div>

    <script>
      const sign_in_btn = document.querySelector("#sign-in-btn");
      const sign_up_btn = document.querySelector("#sign-up-btn");
      const container = document.querySelector(".container");

      sign_up_btn.addEventListener("click", () => {
        container.classList.add("sign-up-mode");
      });

      sign_in_btn.addEventListener("click", () => {
        container.classList.remove("sign-up-mode");
      });
      function ValidateEmail() {
        var em = document.getElementById("j1").value;
        var validRegex =
          /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (!validRegex.test(em)) {
          document.getElementById("oi").innerHTML = "INVALID";
          document.getElementById("oi").style = "color:red";
        } else {
          document.getElementById("oi").innerHTML = "VALID";
          document.getElementById("oi").style = "color:green";
        }
      }
      function back() {
        window.location.href = "home";
      }
      function logout() {
        window.location.href = "login";
      }
    </script>
  </body>
</html>
